
    <!--עיצוב פנימי--><!--הגדרת לאייאוט להזרקת עיצוב חיצוני-->
<% layout('layouts/boilerplate') %>





    <section class="sidebar"></section>
    <section class="maincontent">


        <div class="container">
            <div class="row">

                <div class="col-xl-6 mb-3 mt-3">
                    <div
                        style="background-image: url('https://images.unsplash.com/photo-1623176035122-4e07bc19bab7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80');opacity: 80%;height: 620px">
                        <section class="py-5 text-center container images">
                            <div class="row py-lg-5">
                                <div class="col-lg-6 col-md-8 mx-auto">
                                    <h1 class="SL" id="aaa">TRIP YOU WANT</h1>
                                    <p style="opacity: 0.7;" class="lead  text-white bg-dark">Somethingading about the
                                        collection
                                        below—its
                                        contents,

                                        it entirely.</p>
                                    <a href="/campgrounds/new" class="btn btn-primary my-2 btn-lg">Add new Camp</a>
                                    <a href="/campgrounds" class="btn btn-secondary my-2 btn-lg">to all Camps</a>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>



                <div class="col-xl-6 mb-3 mt-3">
                    <div
                        style="background-image: url('https://images.unsplash.com/photo-1559521783-1d1599583485?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');opacity: 80%;height: 620px;">
                        <section class="py-5 text-center container images">
                            <div class="row py-lg-5">
                                <div class="col-lg-6 col-md-8 mx-auto">
                                    <h1 class="SL" id="aaa">Camping The Holly Land</h1>
                                    <a href="/campgrounds/616cde7818732c657f036d2e"
                                        class="btn btn-outline-dark btn-lg px-4 fw-bold p-4 mb-3 mt-3">
                                        <h4>For
                                            Details</h4>
                                    </a>
                                    <a href="/campgrounds/616cde7818732c657f036d2e"
                                        class="btn btn-success my-2 btn-lg p-5 p-md-1  ">
                                        <h4>TAKE ME TO JERUSALEM</h4>
                                    </a>





                                </div>
                            </div>
                        </section>
                    </div>
                </div>








            </div>




            <div class="row">


                <div class="bg-dark text-secondary px-4 py-5 text-center col-xl-6 mb-3 mt-3">
                    <div class="py-5">
                        <h1 class="display-5 fw-bold text-white">Join the YELP Campers</h1>
                        <div class="mx-auto">
                            <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with
                                Bootstrap,
                                the
                                world’s most popular front-end open source toolkit, featuring Sass variables and
                                mixins,
                                responsive grid system, extensive prebuilt components, and powerful JavaScript
                                plugins.
                            </p>
                            <button type="button"
                                class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">NAVIGATE</button>
                            <button type="button" class="btn btn-outline-light btn-lg px-4">GET NEWS</button>
                            <br>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-10 mx-auto col-lg-5">
                            <form class=" p-md-3 border rounded-3 bg-light">
                                <div class="form-floating ">
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com">
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                                <hr class="my-4">
                                <small class="text-muted">By clicking Sign up, you agree to the terms of
                                    use.</small>
                            </form>
                        </div>
                    </div>
                </div>




                <div class="col-xl-6 mb-3 mt-3 d-none d-xl-block">
                    <div
                        style="background-image: url('https://images.unsplash.com/photo-1537225228614-56cc3556d7ed?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80');opacity: 80%;height: 1100px;">
                        <section class="py-5 text-center container images">
                            <div class="row py-lg-5">
                                <div class="col-lg-6 col-md-8 mx-auto">
                                    <h1 class="SL" id="aaa">TRIP YOU NEED</h1>
                                    <p class="lead btn-dark">

                                    <div class="bg-dark p-2" style="--bs-bg-opacity: .7;">
                                        <h4 class="text-white">Something short and
                                            leading
                                            about the collection
                                            sit amet consectetur adipisicing elit. Officiis
                                            t magni
                                            enim
                                            eaque debitis at esse voluptate ullam, odio iure.
                                            it entirely.</h4>
                                        </p>
                                    </div>
                                    <a href="/campgrounds/new" class="btn btn-success my-2 btn-lg p-5 ">
                                        <h4>Search a
                                            Camp
                                            Near
                                            YOU!</h4>
                                    </a>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>



        </div>
















        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1529385101576-4e03aae38ffc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1515444744559-7be63e1600de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1496080174650-637e3f22fa03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2019&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1496545672447-f699b503d270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1595520519880-a86c48ea536c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1475016752167-ae275e11b25d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1528196996966-f221704e0de2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=869&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1506404935298-0bb78d18ddbb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1485975638457-e191693003d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1561115650-e5301f779f95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/12/sun-trees.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1940&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1519378045141-f05b62faa055?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1474828133916-0046ce777b12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2074&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2074&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top"
                                src="https://images.unsplash.com/photo-1458093257227-0f30303eb1f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"
                                width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"
                                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                            </img>

                            <div class="card-body">
                                <p class="card-text">f. Lorem ipsum dolor sit amet consectetur
                                    adipisicing gni porro
                                    voluptate deleniti? lliarum explicabo odit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">delete</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

    </section>
    <section class="sidebar"></section>





    </div>
    </div>
    </div>
    </div>
    </div>










    </div>

<footer class="fixed-bottom text-muted py-5 mt-auto" id="footered">

    <div class="container" style="background-color:rgba(29, 29, 29, 0.397);">
        <p class="float-end mb-1">
            <a style="color: rgb(200, 255, 0);" href="#">Back to top</a>
        </p>
     
        <p style="color: aliceblue;" class="mb-0">New to YelpCamp? <a style="color: rgb(200, 255, 0);" href="/">Visit the homepage</a> or see our <a style="color: rgb(200, 255, 0);" href="/campgrounds">camps
                near you</a>.</p>
<br>
    </div>
</footer>



    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>