<% layout('layouts/boiler2') %>
    <br>
    <br>
    <div class="row">
        <div class="col-6 offset-3">

<div style="background-color: rgba(66, 66, 66, 0.459);"  class="card mb-3" style="width: 38rem;">
  <div class="card-body">

  <h1 class="card-title" style="color: #c2f800;" class="text-center">New Campground</h1>
            <hr>


            <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="campground[title]" class="col-sm-2 col-form-label">camp name:</label>
                    <input class='form-control' type="text" class="form-control" id="title" placeholder="camp name"
                        name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="campground[location]" class="col-sm-2 col-form-label">
                        Location : </label>
                    <input class='form-control' type="text" class="form-control" id="location" placeholder="location"
                        name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>





                <!-- <div class="form-group">
                    <label class='form-label' for="campground[Image]" class="col-sm-2 col-form-label">
                        image URL: </label>
                    <input class='form-control' type="url" class="form-control" id="Image" placeholder="new image URL"
                        name="campground[Image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->


                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="campground[price]" class="col-sm-2 col-form-label">
                        Price: </label>
                    <div class="input-group ">
                        <span class="input-group-text">$</span>
                        <input class='form-control' type="text" class="form-control" id="price" placeholder="Price"
                            name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div style="color: #d9ed92;" class="form-group">
                    <label for="campground[description]">Description:</label>
                    <textarea class="form-control" rows="3" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <label style="color: #d9ed92;" for="image">Upload Camp images:</label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="image" id="customFile" multiple>
                    <label class="custom-file-label" for="image">Choose Image's:</label>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <br>
                <br>

                <button type="submit" class="btn btn-primary btn-lg btn-block"><b>Submit</b></button>
            </form>


            <form action="/campgrounds">
                <button class="btn btn-warning btn-lg btn-block">Cancel</button>

            </form>






    <p style="color: #d9ed928e;" class="card-text">Please ENTER a Valid details inside The Fields.</p>
<br>
  </div>
</div>

          
