<% layout('layouts/boiler2') %>
    <br>
    <br>
 <div class="row">
            <div style="background-color: rgba(66, 66, 66, 0.459);" class="card">
                    <div class="card-body">
         <h1 style="color: #c2f800;" class="card-title text-center">REGISTER</h1>
            <hr>

                     


                        <p class="card-text">


                        </p>
                    </div>


                   
                        <div class="card-body">
            <form action="/register" method="POST" novalidate class="validated-form">

                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="username" class="col-sm-2 col-form-label">username:</label>
                    <input class='form-control' type="text" class="form-control" id="username" placeholder="username"
                        name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="password" class="col-sm-2 col-form-label">
                        password : </label>
                    <input class='form-control' type="password" class="form-control" id="password"
                        placeholder="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="form-group">
                    <label style="color: #d9ed92;" class='form-label' for="email" class="col-sm-2 col-form-label">
                        Email: </label>
                    <input class='form-control' type="email" class="form-control" id="email" placeholder="Email"
                        name="email" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>



                <button class="btn btn-primary btn-lg btn-block"><b>Submit</b></button>
            </form>


            <form action="/campgrounds">
                <button class="btn btn-warning btn-lg btn-block">Cancel</button>

            </form>
<br>
<br>
                          

                        </div>

                            <div class="card-footer text-muted">

                            </div>
                </div>
            </div>
        </div>

